<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>a beginners website where Ebbi can modify and express his creativity through coding skills. </p>
      </div>
      <div class="col-lg-4">
        <p>this will just be a really quick walkthrough to my life and what I do generally as a person. By the way you should check out my parents website which I have linked down below. They have some really good deals if you need or know anyone that is looking for an automobile. I appreciate you for visiting my page! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
